<form action="/almacenar" method="post" enctype="multipart/form-data">
    <label for="txtNombre">Nombre:</label>  
    <input type="text" name="txtNombre" id="txtNombre">
    <br>
    <br>
    <label for="txtApellido">Apellido:</label>
    <input type="text" name="txtApellido" id="txtApellido">
    <br>
    <br>
    <label for="txtGenero">Genero: </label> 
    <input type="text" name="txtGenero" id="txtGenero">
    <br>
    <br>
    <label for="dateNacimiento">Fecha de Nacimiento: </label>
    <input type="date" name="dateNacimiento" id="dateNacimiento">
    <br>
    <br>
    <label for="dateIngreso">Fecha de ingreso:</label>
    <input type="date" name="dateIngreso" id="dateIngreso">
    <br>
    <br>
     <label for="salario">Salario basico:</label> 
    <input type="number" name="salario" id="salario">
    <br>
    <br>
    <input type="submit" value="Agregar">
</form>